0
/*_venv/
mysql_logger.egg-info/dependency_links.txt
mysql_logger.egg-info/PKG-INFO
mysql_logger.egg-info/requires.txt
mysql_logger.egg-info/SOURCES.txt
mysql_logger.egg-info/top_level.txt
mysql_logger/__pycache__/__init__.cpython-38.pyc
mysql_logger/__pycache__/mysql_logger.cpython-38.pyc
